html {
  scroll-behavior: smooth;
}

body {
  background: #3c24b0;
}

#particles-js{
  position:absolute;
  width: 100%;
  height: 100%;
  background-color: #3c24b0;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.landing{
  z-index: 100;
  position: relative;
  font-family: 'Nunito', sans-serif;
  width: 100%;
  color:#fff;
}

.navbar-brand {
  font-family: 'Saira', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.image {
  width: 30px;
}

.form-control, .form-control:focus {
  background-color: transparent;
  border-radius: 0;
  padding: 16px 8px;
  border: 1px solid rgba(235, 233, 233, 0.42);
  height:50px;
}

.msg {
  background-color: white;
  border-radius: 30px;
  color: black;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  width: 75%;
}

.type {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
}

.form-control::placeholder {
  color: white;
}

.button, .button:focus, .button:active {
  color: #3C24B0;
  background-color: white;
  border-radius: 0;
  font-size: 20px;
  font-weight: 700;
}

.screen-text {
  font-size: 20px;
}

.section2 {
  display: block;
  z-index: 100;
}

.form {
  padding-left: 16px;
}

.button:hover {
  color:white;
  background-color: #3C24B0;
  border: 1px solid white;
}

.big-text {
  font-weight: 900;
  font-size: 40px;
  line-height: 50px;
}

.small-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;

}

.wrapper {
  width: 50%;
  margin: 2% auto;
}

/* .bot {
  height: 355px;
  width: 100%;
  border-radius: 4px;
} */
 
#one, #two, #three, #four, #five {
  display: none;
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes slideInUp {
  0% {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  }
  @keyframes slideInUp {
  0% {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
} 

.modal {
  background: rgba(226, 221, 221, 0.3);
}

.close {
  position: absolute;
  top: 5%;
  right: 8%;
  width: 50px;
  height: 50px;
}

.carousel-indicators {
  margin-right: 20%;
  margin-left: 0; 
  bottom: -70px
}

.carousel-indicators .active {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: #fff;
}

.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #aca6a6;
}

.glance{
  background: #3C24B0;
}

#bot{
  background-color: transparent;
  height: 70vh;
  width: 100%;
  position: relative;
overflow: auto;
}

/* Media Queries */

@media (max-width: 450px) {
  .wrapper {
    width: 90%;
    margin: 5% auto;
  }
}


@media (min-width: 451px) and (max-width: 800px) {
  .wrapper {
    width: 85%;
    margin: 5% auto;
  }
  
  #bot{
    height: 100vh;
}
}

@media only screen and (max-width: 766px) {
  .center {
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .wrapper { 
    width: 65%;
    margin: 5% auto;
  }
  #particles-js {
    display: none;
  }
  .icons {
    display: none;
  }
  
}

@media only screen and (max-width: 765px) {
  .big-text {
    font-weight: 900;
    font-size: 30px;
    line-height: 40px;
  }

  .small-text {
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
  }
  .notified {
    padding: 20px 10px;
    display: flex;
    justify-content: center;
  }
  .msg {
    width: 100%;
  }
  .wrapper {
    width: 90%;
  }
  .carousel-indicators {
    justify-content: center;
    margin-right: 0;
  }
}
